<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="display-3">Login bananas</h1>
        <p class="lead">Lorem ipsun dolor bananas caboom</p>
      </div>

      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>

      <div class="col-sm">
        <form name="login" id="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="userid" [ngModelOptions]="{standalone: true}">
            <small id="emailHelp" class="form-text text-muted">No se ha debido usar el email anteriormente.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" class="btn btn-primary" (click)="setAutentificar()">Iniciar sesión</button>
        </form>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
